.ui5-ai-toolbar-label {
	color: var(--sapTextColor);
	font-family: "72override", var(--sapFontFamily);
	font-size: var(--sapFontSize);
	white-space: nowrap;
}

.ui5-ai-tb-label {
	display: inline-flex;
	align-items: center;
	padding: 0 0.25rem;
}
