.ui5-date-picker-popover {
	width: auto;
	min-width: var(--_ui5_calendar_width);
	.ui5-popover-header {
		width: 100%;
	}
}

.ui5-date-picker-popover:has([months-to-show="2"]) {
	width: fit-content;
	max-width: none;
}

[ui5-calendar] {
	width: auto;
	display: flex;
	justify-content: center;
}

[ui5-responsive-popover]::part(content) {
    padding: 0;
}
