:host {
	min-width: 15rem;
	color: var(--sapField_TextColor);
	background-color: var(--sapField_Background);
}

:host .ui5-date-picker-input {
	min-width: inherit;
	color: inherit;
	background-color: inherit;
}

:host([show-clear-icon]) .ui5-date-picker-input:not([value]),
:host([show-clear-icon]) .ui5-date-picker-input[value=""] {
	width: 100%;
	min-width:inherit;
}