:host {
	height: auto;
	min-height: var(--_ui5_list_item_base_height);
}

.ui5-li-root {
	padding-inline-start: 0;
	min-height: var(--_ui5_list_item_base_height);
}

.ui5-li-content {
	padding-bottom: .5rem;
	padding-top: .5rem;
	box-sizing: border-box;
}

:host([text][additional-text]) .ui5-li-text-wrapper {
	gap: 1rem;
}

[ui5-checkbox] {
	overflow: visible;
}
