@import "./InvisibleTextStyles.css";
@import "./FormComponents.css";

:host {
	display: inline-block;
	height: var(--_slider_height, 2.75rem);
	width: 100%;
}

:host([label-interval]:not([label-interval="0"])) {
	height: 3.75rem;
	align-items: flex-start;
}

.ui5-slider-evo-root {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	padding: var(--_slider_root_side_padding);
	box-sizing: border-box;
}

:host([disabled]) {
	opacity: var(--_ui5_slider_disabled_opacity);
	cursor: default;
	pointer-events: none;
}

[ui5-slider-handle] {
	z-index: 5;
}

/* Range Slider specific styles */

/* Handle background styling */
[ui5-slider-handle] {
	background: var(--_ui5_range_slider_handle_background);
}

[ui5-slider-handle]:hover {
	background: var(--_ui5_range_slider_root_hover_handle_bg);
}

[ui5-slider-handle]:hover [slider-icon] {
	display: var(--_ui5_range_slider_root_hover_handle_icon_display);
}

[ui5-slider-handle]:focus {
	background: var(--_ui5_range_slider_handle_background_focus);
}

[ui5-slider-handle]:focus [slider-icon] {
	display: none;
}

/* Range pressed state - when dragging the entire range */
:host([range-pressed]) [ui5-slider-handle]:not(:focus) {
	background: var(--_ui5_range_slider_handle_active_background);
	border: var(--_ui5_slider_handle_focus_border);
	box-shadow: none;
}

:host([range-pressed]) [ui5-slider-handle] [slider-icon] {
	display: var(--_ui5_range_slider_active_handle_icon_display);
}

:host([range-pressed]) [ui5-slider-handle]:not(:focus) [slider-icon] {
	display: var(--_ui5_range_slider_root_active_handle_icon_display);
}
