@import "./InvisibleTextStyles.css";
@import "./FormComponents.css";

:host {
	display: inline-block;
	height: var(--_slider_height);
	width: 100%;
}

:host([label-interval]:not([label-interval="0"])) {
	height: 3.75rem;
	align-items: flex-start;
}

.ui5-slider-evo-root {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	padding: var(--_slider_root_side_padding);
	box-sizing: border-box;
}

:host([disabled]) {
	opacity: var(--_ui5_slider_disabled_opacity);
	cursor: default;
	pointer-events: none;
}

[ui5-slider-handle] {
	z-index: 5;
}
