:host([open][focused][_row-focused]) .ui5-input-focusable-element::after {
	content: none;
}

:host([open][focused][_row-focused]) {
	border-color: var(--sapField_BorderColor);
	background-color: var(--sapField_Background);
}

.ui5-tabular-input-suggestions-wrapper {
	width: 100%;
	max-height: var(--_ui5_tabular_suggestions_max_height, 20rem);
	overflow: auto;
}

.ui5-tabular-suggestions-table {
	width: 100%;
}

.ui5-tabular-suggestions-table::part(before),
.ui5-tabular-suggestions-table::part(after) {
	display: none;
}

.ui5-tabular-suggestions-table [ui5-table-row].ui5-tabular-suggestions-row--focused,
.ui5-tabular-suggestions-table [ui5-table-row].ui5-tabular-suggestions-row--selected {
	background-color: var(--sapList_SelectionBackgroundColor);
}

.ui5-tabular-suggestions-table [ui5-table-row].ui5-tabular-suggestions-row--focused {
	outline: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
	outline-offset: var(--_ui5_tabular_suggestions_focus_offset, -0.125rem);
}

.ui5-tabular-suggestions-table [ui5-table-row].ui5-tabular-suggestions-row--focused:hover,
.ui5-tabular-suggestions-table [ui5-table-row].ui5-tabular-suggestions-row--selected:hover {
	background-color: var(--sapList_Hover_SelectionBackground);
}

.ui5-tabular-suggestions-table [ui5-table-cell] b {
	font-weight: bold;
	color: var(--sapList_TextColor);
}

.ui5-tabular-suggestions-table [ui5-table-row] [ui5-table-cell]:first-of-type {
	font-weight: 500;
}

:host([_isPhone]) .ui5-tabular-input-suggestions-wrapper {
	max-height: none;
}
