@import "../base/SliderBase-parameters.css";

:host {
	--_ui5_slider_handle_width: 1.875rem;
	--_ui5_slider_handle_height: 1.875rem;
	--_ui5_range_slider_handle_background: transparent;
	--_ui5_range_slider_root_hover_handle_bg: transparent;
}

@container style(--ui5_content_density: compact) {
	:host {
		--_ui5_slider_handle_width: 1.5rem;
		--_ui5_slider_handle_height: 1.5rem;
	}
}