ui5-multi-input {
    /* width: 100%; */
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .25rem .5rem;
    box-sizing: border-box;
    width: 100%;
}

.footer ui5-button:not(:last-child) {
    margin-right: 1rem;
}

.sample-container {
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
}

.sample-container-title {
    padding: 0;
	margin: .5rem 0 .2rem 0;
    box-sizing: border-box;
    font-size: 1rem;
    display: block;
    font-weight: bold;
}

.multiinput1auto {
    background-color: var(--sapBackgroundColor);
}

.multiinput2auto {
    width: 500px;
}
