:host {
	--ui5_web_components_busy_indicator_display: flex;
}

.busy-indicator-wrapper {
	position: relative;
	height: 100%;
	width: 100%;
}

.busy-indicator-content {
	opacity: var(--sapContent_DisabledOpacity);
}

.busy-indicator-overlay {
	display: flex;
	position: absolute;
	inset: 0;
	z-index: 99;
	justify-content: center;
	align-items: center;
	z-index: 99;
}

.busy-indicator-busy-area {
	display: flex;
	position: absolute;
	z-index: 99;
	inset: 0;
	justify-content: center;
	align-items: center;
	background-color: inherit;
	flex-direction: column;
	color: var(--sapContent_BusyColor);
}

.busy-indicator-busy-area:focus {
	outline: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
	outline-offset: -.125rem;
}

.busy-indicator-circle {
	width: 1rem;
	height: 1rem;
	display: inline-block;
	background-color: currentColor;
	border-radius: 50%;
}

.circle-animation-0 {
	animation: grow 1.6s infinite cubic-bezier(0.32, 0.06, 0.85, 1.11);
}

.circle-animation-1 {
	animation: grow 1.6s infinite cubic-bezier(0.32, 0.06, 0.85, 1.11);
	animation-delay: 200ms;
}

.circle-animation-2 {
	animation: grow 1.6s infinite cubic-bezier(0.32, 0.06, 0.85, 1.11);
	animation-delay: 400ms;
}

.busy-indicator-wrapper [ui5-busy-indicator] {
	display: none;
}

@keyframes grow {
	0%, 50%, 100% {
		-webkit-transform: scale(0.5);
		-moz-transform: scale(0.5);
		-ms-transform: scale(0.5);
		transform: scale(0.5);
	}

	25% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
}