:root {
	--_ui5-compact-size: ;
	--_ui5-cozy-size: initial;
	--_ui5_content_density: cozy;
}

[data-ui5-compact-size],
.ui5-content-density-compact,
.sapUiSizeCompact {
	--_ui5-compact-size: initial;
	--_ui5-cozy-size: ;
	--_ui5_content_density: compact;
}
