@import "../base/SliderBase-parameters.css";

:host {
	--_ui5_slider_handle_focus_border: 0.125rem solid var(--sapContent_FocusColor);
	--_ui5_range_slider_handle_background: var(--sapSlider_RangeHandleBackground);
	--_ui5_range_slider_root_hover_handle_bg: var(--sapSlider_Hover_HandleBackground);
	--_ui5_range_slider_handle_active_background: var(--sapSlider_Active_RangeHandleBackground);
}