:host {
	--_ui5_banner_background: var(--sapShell_HeroBanner_Background);
	--_ui5_banner_text_color: var(--sapShell_HeroBanner_TextColor);
	--_ui5_banner_border_radius: var(--sapTile_BorderCornerRadius);
	--_ui5_banner_border: 0.0625rem solid var(--sapTile_BorderColor);
	--_ui5_banner_box_shadow: var(--sapContent_Shadow0);
	--_ui5_banner_background_image: linear-gradient(135deg, rgba(0, 0, 0, 0.00) 45%, rgba(0, 0, 0, 0.45) 75%);
}
