:host(:not([hidden])) {
	display: block;
}

.ui5-filterbar-root {
	background-color: var(--sapGroup_ContentBackground);
	border-bottom: 1px solid var(--sapGroup_ContentBorderColor);
	box-sizing: border-box;
	padding: 1rem;
	width: 100%;
}

.ui5-filterbar-items {
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	gap: 0 1rem;
}

.ui5-filterbar-item,
.ui5-filterbar-spacer {
	flex: 1 0 12rem;
	max-width: 24rem;
	overflow: hidden;
}

.ui5-filterbar-buttons {
	justify-content: flex-end;
	gap: 0.25rem;
	margin-left: auto;
	margin-bottom: 0.25rem;
}

.ui5-fitlerbar-search,
.ui5-filterbar-buttons {
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
}
.ui5-filterbar-search,
.ui5-filterbar-buttons,
.ui5-filterbar-item {
	margin-top: 0.5rem;
}

.ui5-filterbar-layout-one-line .ui5-filterbar-spacer {
	display: none;
}