
:host(:not([hidden])) {
	position: absolute;
	inset: 0;
	display: block;
	background: var(--sapBackgroundColor);
	box-sizing: border-box;
	overflow: hidden;
}

.ui5-nl-root {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.ui5-nl-header {
	z-index: 3;
}

.ui5-nl-section {
	display: flex;
	flex: 1;
	min-height: 0;
	position: relative;
}

.ui5-nl-aside {
	transition: transform 0.3s;
	z-index: 2;
}

@media (width < 600px) {
	:host .ui5-nl-aside {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
	}
}

@media (width < 600px) {
	:host ::slotted([ui5-side-navigation][slot="sideContent"]) {
		width: 100%;
		box-shadow: none;
	}
}

.ui5-nl-content {
	flex: 1;
	min-width: 0;
	overflow: auto;
}
@media (width < 600px) {
	:host([side-collapsed]) .ui5-nl-aside {
		transform: translateX(-100%);
	}	
}

@media (width < 600px) {
	:host([side-collapsed]) :dir(rtl) .ui5-nl-aside {
		transform: translateX(100%);
	}

}

:host([has-side-navigation]) ::slotted([ui5-shellbar][slot="header"]) {
	padding-inline: 0.875rem 1rem;
}
