/* ============================================================================
   ACTION BUTTON STYLING
   ============================================================================ */

.ui5-shellbar-action-button {
	width: 2.25rem;
	color: var(--sapShell_TextColor);
}

.ui5-shellbar-action-button:hover {
	color: var(--sapShell_TextColor);
}

.ui5-shellbar-action-button[active] {
	color: var(--_ui5_shellbar_button_active_color);
}

