.ui5-user-settings-notifications-view-content {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.ui5-user-settings-notifications-view-list {
	padding: 0;
	margin: 0;
	--ui5-group-header-listitem-background-color: var(--sapList_Background);
}

.ui5-user-settings-notifications-view-form {
	border-bottom: 0.0625rem solid var(--sapList_BorderColor);
}

slot[name="additionalContent"]::slotted(*) {
	display: block;
}
