.ui5-user-settings-view-container {
	container-type: inline-size;
}

.ui5-user-settings-view {
	padding: 1rem;
}

.user-settings-appearance-view-top-header {
	margin-top: 0.5rem;
}

.user-settings-appearance-view-top-header::part(title) {
	font-size: var(--sapFontHeader5Size);
}