@import "../base/SliderScale-parameters.css";

:host {
	--_ui5_slider_scale_border: none;
	--_ui5_slider_scale_dots_display: none;
	--_ui5_slider_scale_tickmark_height: 1rem;
	--_ui5_slider_handle_width: 1.875rem;
	--_ui5_slider_handle_height: 1.875rem;
	--_ui5_slider_scale_progress_background: var(--sapActiveColor);
}

@container style(--ui5_content_density: compact) {
	:host {
		--_ui5_slider_handle_width: 1.5rem;
		--_ui5_slider_handle_height: 1.5rem;
	}
}