@import "../base/SliderBase-parameters.css";

:host {
	--_ui5_slider_handle_width: 1.875rem;
	--_ui5_slider_handle_height: 1.875rem;
	--_ui5_slider_handle_focus_border: 0.125rem solid var(--sapButton_Active_BorderColor);
}

@container style(--ui5_content_density: compact) {
	:host {
		--_ui5_slider_handle_width: 1.5rem;
		--_ui5_slider_handle_height: 1.5rem;
	}
}