@import "../base/SliderHandle-parameters.css";

:host {
	--ui5_slider_handle_outline_offset: 1px;
	--_ui5_slider_handle_background: var(--sapButton_Background);
	--_ui5_slider_handle_border: 0.125rem solid var(--sapField_BorderColor);
	--_ui5_slider_handle_border_radius: 1rem;
	--_ui5_slider_handle_box_sizing: border-box;
	--_ui5_slider_handle_hover_background: var(--sapButton_Hover_Background);
	--_ui5_slider_handle_hover_border: 0.125rem solid var(--sapSlider_Hover_HandleBorderColor);
	--_ui5_slider_handle_active_border: 0.125rem solid var(--sapContent_FocusColor);
}

